$primary-color: #00bc77;
$secondary-color: #6c757d;
$primary-dark:#035935;
$primary-text:#fff;
$active-text : #42b983;
$title-text :#222; //title
$secondary-text:#2c3e50; //main-nav
$background-dark: #12002b;
$background-light:#fff;
$secondary-border:#ccc;
$primary-border:#000;



