.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formChange {
	width: 35%;
}

.divButtonChange,
.divInputChange {
	display: flex;
	justify-content: center;
}

.inputChange {
	height: 30px;
	width: 40%;
	margin: 5px;
	padding-left: 15px;
	border: 2px solid;
	border-radius: 5px;
}

.change-button {
	background-color: #00bc77;
	color: #fff;
	font-weight: bold;
	padding: 10px;
	height: 35px;
	width: 30%;
	margin: 5px;
	border: 2px solid #00bc77;
}
